<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Test, WebSocket!</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- import moment-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"
        integrity="sha256-AdQN98MVZs44Eq2yTwtoKufhnU+uZ7v2kXnD5vqzZVo=" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container-sm">
        <div class="input-group">
            Room ID : <input id="room_id" type="text" class="form-control" name="roomID" autocomplete="on">
            Email : <input id="user_email" type="text" class="form-control" name="email">
            <button onclick="connect()">Connect</button>
            <button onclick="disconnect()">Close connection</button>
        </div>

        <br>
        <hr />
        <br>

        <pre id="output"></pre>
        <br>
        <hr />
        <br>

        <textarea id="msgToServer" style="width: 80rem; min-height: 220px"
        placeholder="Put your Message Here"></textarea>
        <br>
        <button type="button" class="btn btn-sm btn-success" onclick="sendMessage()">
            Send Message
        </button>

    </div>
    <script>

        var socket = null;

        function connect() {
            var room_id = document.getElementById("room_id").value;
            var user_email = document.getElementById("user_email").value;
            var url = "ws://localhost:8080/ws/chat-server?room_id=" + room_id + "&user_email=" + user_email;

            console.log(url);

            socket = new WebSocket(url);

            socket.onopen = function () {
                output.innerHTML += "<div class=\"row\"> <div class=\"col\"> <p> Connected </p> </div></div>";
            };

            socket.onmessage = function (e) {
                output.innerHTML += "<div class=\"row\"> <div class=\"col\">" +
                    prettifyJson(e.data, true) +
                    "</div></div>";
            };

            socket.onclose = () => {
                console.log('Web Socket Connection Closed');
            };
        }

        function disconnect() {
            if (socket != null) {
                socket.close();
            }

        }

        function sendMessage(){
            if (socket == null) {
                console.log('Web Socket Connection Closed');
             }

             var msg = document.getElementById("msgToServer").value;
             socket.send(msg);
        }

        function prettifyJson(json, prettify) {
            if (typeof json !== 'string') {
                if (prettify) {
                    json = JSON.stringify(json, undefined, 4);
                } else {
                    json = JSON.stringify(json);
                }
            }
            return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g,
                function (match) {
                    let cls = "<span>";
                    if (/^"/.test(match)) {
                        if (/:$/.test(match)) {
                            cls = "<span class='text-danger'>";
                        } else {
                            cls = "<span>";
                        }
                    } else if (/true|false/.test(match)) {
                        cls = "<span class='text-primary'>";
                    } else if (/null/.test(match)) {
                        cls = "<span class='text-info'>";
                    }
                    return cls + match + "</span>";
                }
            );
        }









    </script>
</body>

</html>